<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sign Up</title>
  <link href="/CSS/styles.css" rel="stylesheet" >

</head>

<body>
  <form class="signupform" method="POST" action="/signup">
    <%if(message){%>
        <p id="msg"><%=message%></p>
    <%}%>    
    <input id="uname" type="text" name="name" placeholder="Enter your name"/>
    <input id="uemail" type="text" name="email" placeholder="Enter your email"/>
    <input id="upass" type="password" name="password" placeholder="Enter your password"/>
    <div class="container">
      <button type="submit" name="submit" onclick="return validate()">Sign Up</button>
    </div>
  </form>
  <script src="/JS/signup.scripts.js"></script>
</body>
</html>
